<mat-list role="list">
    <mat-list-item role="listitem">Card with more info</mat-list-item>  
    <mat-list-item role="listitem">Theme change that is shared with Shyam</mat-list-item>
    <mat-list-item role="listitem">Rxjs 4 challenges</mat-list-item>
    <mat-list-item role="listitem">Patterns 4 items</mat-list-item>
    <mat-list-item role="listitem">Different ways to lazy load the components in angular Pankaj Virtusa</mat-list-item>
    <mat-list-item role="listitem">Decorators</mat-list-item>
    <mat-list-item role="listitem">CQRS</mat-list-item>
    <mat-list-item role="listitem">lazy load service to load the files</mat-list-item>
    <mat-list-item role="listitem">dynamic components <a href="https://www.youtube.com/watch?v=q2Exs-82tkw">click</a></mat-list-item>
    <mat-list-item role="listitem">Upgrade to ng12</mat-list-item>
</mat-list>