<mat-list role="list">
    <mat-list-item role="listitem">Card with more info</mat-list-item>  
    <mat-list-item role="listitem">Hold To Delete</mat-list-item>
    <mat-list-item role="listitem">Rxjs 4 challenges</mat-list-item>
    <mat-list-item role="listitem">Patterns 4 items</mat-list-item>
    <mat-list-item role="listitem">Different ways to lazy load the components in angular Pankaj Virtusa</mat-list-item>
    <mat-list-item role="listitem">Decorators</mat-list-item>
    <mat-list-item role="listitem">CQRS</mat-list-item>
    <mat-list-item role="listitem">CQRS</mat-list-item>
</mat-list>