<div class="row">
    <div class="col-12">
        <!-- <ng-container *ngIf="showNotification$ | async as showNotification">
            <p>{{showNotification}}</p>
        </ng-container> -->
    </div>
    
    <div class="col-12" *ngIf="showNotification$ | async as showNotification">
        <p  #notificationbar class="notification"  *ngIf="showNotification == 'true'">
        <mat-toolbar>
            <span>
                Got new Jokes !!!  Click here to update 
                <button class="mat-elevation-z10" (click)="updates$.next('true')" mat-raised-button mat-stroked-button class="hl"> <mat-icon mat-list-icon aria-hidden="false" aria-label="Example home icon">cached</mat-icon> View </button>
            </span>
        </mat-toolbar>
        </p>

    </div>
    
    <div class="col-12">
        <p>
            <mat-toolbar>
                <span>
                    Want to Pull Jokes!!! click here 
                    <button class="mat-elevation-z10" (click)="forceUpdate()" mat-raised-button mat-stroked-button class="hl"> <mat-icon mat-list-icon aria-hidden="false" aria-label="Example home icon">get_app</mat-icon> Fetch </button>
                </span>
            </mat-toolbar>
        </p>

    </div>

    <div class="col-12">
        <ng-container *ngIf="jokes$ | async as jokes">
            <div *ngIf="jokes.length > 0" >
                <mat-card *ngFor="let joke of jokes" class="mat-elevation-z10 op-anim">
                    <mat-card-content>
                        <p>{{joke.joke}}</p>
                    </mat-card-content>
                </mat-card>
            </div>

        </ng-container>
    </div>
</div>