<mat-sidenav-container class="sidenav-container" >
  
  <mat-sidenav #sidenav mode="side" [(opened)]="opened"  >  
    
    <ng-container *ngIf="navItems$ | async as navItems">
      <app-side-nav [navItems]="navItems"></app-side-nav>
    </ng-container>

  </mat-sidenav>

  <mat-sidenav-content #sideNavContainer>
    <mat-toolbar>
      <button (click)="toggleSideNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Ng Exp</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <div><router-outlet></router-outlet></div>
  </mat-sidenav-content>

</mat-sidenav-container>