<mat-sidenav-container class="sidenav-container" >
  
  <mat-sidenav #sidenav mode="side" [(opened)]="opened"  >  
    
    <ng-container *ngIf="navItems$ | async as navItems">
      <mat-nav-list>
        <app-nav-item-search></app-nav-item-search>
        <ng-container *ngFor="let navItem of navItems">
          <app-nav-item *ngIf="!navItem.children"  [navItem]="navItem"></app-nav-item>
          <app-nav-item-expand *ngIf="navItem.children" [navItem]="navItem"></app-nav-item-expand>
        </ng-container>
      </mat-nav-list>
    </ng-container>

  </mat-sidenav>

  <mat-sidenav-content #sideNavContainer>
    <mat-toolbar>
      <button (click)="toggleSideNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Ng Exp</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <div><router-outlet></router-outlet></div>
  </mat-sidenav-content>

</mat-sidenav-container>