    $pa_light: #A0ADF5;
    $pa: #3D5AFE;
    $p500: #3F51B5;
    $p400: #303F9F;
    $p300: #5C6BC0;
    $p200: #C5CAE9;
    $p100: #E8EAF6;
    $p600: #3949AB;
    $p700: #303F9F;
    $p800: #303F9F;
    $p900: #1A237E;
    $ng500: #8388A2;
    $ng400: #9FA3B8;
    $ng300: #BFC1CD;
    $ng200: #D7DAE6;
    $ng100: #EBECF4;
    $ng50: #F9FAFF;
    $ng600: #4C5174;
    $ng700: #2F3352;
    $ng800: #212435;
    $a500: #FFAD00;
	