

<div class="row ">
  <div class="col-12">
    <p>Large data set can make user to wait until the options are painted to the DOM. We can load the options in batches when user scrolls down and free event loop</p>
  </div>
  <div class="col-6">
    <mat-card class="">
      <mat-card-header>
        <div mat-card-avatar class=""></div>
        <mat-card-title>With out Directive</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <ng-container *ngIf="insts">
          <select   aria-labelledby="Available Institutions"  name="availableInstitutions" #avInstElem   size="10"  matInput class="st-form-control" id="available-institutions" multiple>
              <option  *ngFor="let inst of insts; trackBy:trackByInst" [value]="inst">{{ inst.Name }}
              </option>
          </select>
        </ng-container>
        <ng-container *ngIf="!insts">
          <p>Loading ....</p>
        </ng-container>
      </mat-card-content>
      <mat-action-row>
        <button mat-button>Rendered <span *ngIf="insts">{{insts?.length}}</span>  <span *ngIf="!insts">0</span> items</button>
      </mat-action-row>
    </mat-card>
  </div>

  <div class="col-6">
    <mat-card class="">
      <mat-card-header>
        <div mat-card-avatar class=""></div>
        <mat-card-title>With Directive</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <ng-container *ngIf="instsWithDir">
          <select   aria-labelledby="Available Institutions"  name="availableInstitutions" #avInstElem appLazyOptions [data]="instsClone" (lazyData)="lazyDataHandler($event)"  size="10"  matInput class="st-form-control" id="available-institutions" multiple>
              <option  *ngFor="let inst of instsWithDir; trackBy:trackByInst" [value]="inst">{{ inst.Name }}
              </option>
          </select>
        </ng-container>
      </mat-card-content>
      <mat-action-row>
        <button mat-button *ngIf="instsWithDir">Rendered <span >{{instsWithDir?.length}}</span> items</button>
        <button mat-button *ngIf="!instsWithDir">Loading ....</button>
      </mat-action-row>

    </mat-card>    
  </div>
</div>