<ng-container>

    <mat-list-item #navItemRef routerLinkActive="active" [routerLink]="navItem?.link" (click)="onSwitch()" class="app-nav-list-item"  [ngClass]="{'nav-item-child': navItem.nav, 'nav-item-parent': navItem.parent}">
        <mat-icon mat-list-icon aria-hidden="false" aria-label="Example home icon">{{navItem?.icon}}</mat-icon>
        <a matLine >{{navItem?.name}}</a>
        <mat-icon *ngIf="!panelOpen" aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
        <mat-icon *ngIf="panelOpen" aria-hidden="false" aria-label="Example home icon">expand_less</mat-icon>
    </mat-list-item>

    <div class="nav-item-children" matLine [@animationShowHide]="sStatus">
      <ng-container *ngFor="let nestNavItem of navItem?.children">
        <app-nav-item [navItem]="nestNavItem"></app-nav-item>
      </ng-container>        
    </div>  

</ng-container>










