<div class="row">
    <div class="col-12">
        <p>Add Attribute directive can be used to manage the attributes of an element <br>
        This can be extended to handle the more complete use-case like class where we have to retain the old values
        </p>
    </div>

    <div class="col-12 w-100">&nbsp;</div>
    <div class="col-12 p-2">
        <button mat-stroked-button (click)="toggleDisableAttr()" color="primary">Toggle to add/remove disable attribute</button>
    </div>
    
    <br>

    <div class="col-12 p-2">
        <button mat-fab   appAddAttributes [attr]="attrObj" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
    </div>

    <div class='col-12 p-2'>{{attrObj | json}}</div>


 

</div>